.Pokecard-card {
  background-color: grey;
  border-radius: 10px;
  width: 20vw;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.Pokecard-name {
  color: blue;
  font-weight: 800;
}
/* .Pokecard-img {
} */
/* .Pokecard-stats {
} */
