.Pokecard-card {
  background-color: #b9b9b9;
  border-radius: 10px;
  width: 20vw;
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0px 10px;
}
.Pokecard-name {
  color: blue;
  font-weight: 700;
}
/* .Pokecard-img {
} */
/* .Pokecard-stats {
} */
